/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {

    background-color: #f5f5f5;
}
  
img {
    height: 100%;
    }

h2 {
    color: white;
    text-align: center;
}

p {
    display: block;
    line-height: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Nav Bar*/

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    }

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    }

.links > li {
    margin-right: 20px;
    cursor: pointer;
    }

.links > li:first-child {
    text-decoration: underline;
    }
.links > li:last-child {
    margin-right: 0px;
    }

/* Hero */

.container {
    padding: 0 12vh;
    width: 100%;
    }

.hero {
    background: url("./images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 15px;
    margin-bottom: 40px;
    position: relative;
    }

.hero-content {
    padding: 40vh 0 55vh 0;
    }

.hero-heading {
    font-size: 50px;
    margin-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
    
.logo-size {
    margin-top: 10px;
    width: 3.8vw;
    height: 5vw;
}

.btn {
    font-family: 'TheMixSemiBold';
    line-height: 1.25;
    padding: 0.8rem 1.4rem;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0.15rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0%);
  }
  
  .btn-blue {
    background-color: #0078BE;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
  }


li {
    text-align: -webkit-match-parent;
}


.nav-link {
    color: #fff;
    font-family: 'TheMixSemiBold';
    font-weight: 500;
    font-size: .85rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 1;
    display: block;
    border-radius: 0.125rem;
    padding: 0.8em 1em;
    transition: all 200ms linear;
}


span {
    display: block;
    font-size: 10vw;
    font-weight: bold;
}

.title {
    text-align: center;
    font-weight: bold;
    font-family: TheMixSemiBold;
}



.company-stats {
    margin-bottom: 50px;
}

.company-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    text-align: center;
}

.company-numbers-part {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 360px;
}

.company-img {
    width: 110px;
    height: 85px;
    margin-top: 20px;
}

.company-stat {
    margin-bottom: 20px;
}

.stat-description {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.vision-part {
    display: flex;
    flex-direction: column;
    background-image: url("./images/explorebg.jpg");
    width: 100%;
    height: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 40px;
    position: relative;
}

.vision-part-text {
    font-size: 25px;
    width: 100%;
    height: 17%;
    margin-top: 1%;
    font-weight: 900;
}
.vision-part-video {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 31%;
    width: 25vw;
    height: 1vw;

}

.vision-img {
    border-radius: 10px;
    margin-bottom: 30px;
    height: 22vw;
}

